# router,feed name,feed URL,optionally feed_info.txt URL
trimet,trimet,http://developer.trimet.org/schedule/gtfs.zip
boston,boston,http://www.mbta.com/uploadedfiles/MBTA_GTFS.zip,http://www.mbta.com/uploadedfiles/feed_info.txt
